
html{
    font-size: 62.5%
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box ;
}

.nav-india{
    background-color: rgb(79, 79, 79);
    padding: 0 1rem;
    max-width: 100%;
}

.logo img{
    max-width: 4rem;
}

.logo{
    padding: 1rem;
}

.logo{
    display: flex;
    justify-content: space-between;
}

.nav li{
    list-style: none;
    color: aliceblue;
    display: inline-block;
    margin: 1rem;
    font-size: 2rem;
}

.nav a{
    text-decoration: none;
    color: aliceblue;
}

.india-gallery img{
    max-width : 60rem;
    max-height: auto;
    position: absolute;
    overflow: hidden;
}

.india-gallery{
    margin-top: 1rem;
}

.india-gallery li{
    list-style: none;
    display: inline-block   ;
}

@media (max-width:43rem) {
    .logo li{
        display: none;
    }
    .nav-india{
        padding-right: 64rem;
        background-color: rgb(79, 79, 79);
        padding-top: 1rem;
    }
}

main{
    margin: 2rem ;
    position: relative;
}